* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* >>>>>>>>> Header Style <<<<<< */
.h-container {

    /* height: 1322px; */
    background: rgba(255, 144, 14, 0.1);
    /* border: 2px solid black; */
    width: 100%;
}

.container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.logo-part .logo {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.menu a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

.menu a:hover {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    color: white;
}


/* .....Description part */
.brand {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 64px;
    /* padding: 0px 15px; */
    /* margin: auto; */
    text-align: center;
}

/* >>>>>>>>> Header Deatils style <<<<<<< */
.h-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 45px;
    /* border: 2px solid red; */
    /* width: 140px; */
    width: 100%;
}

.h-details img {
    width: 100%;
}

.h-description {
    width: 868px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.description {
    text-align: center;
    /* border: 2px solid brown; */
}

/* Button style..... */

.btn {
    border: none;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px;
}


/* Main section Style */
.m-container {
    /* border: 2px solid rgb(248, 6, 6); */
    /* background-color: aqua; */
    width: 100%;
    /* border: 2px solid brown; */
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 85px;
    width: 100%;

}

.container-2 .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-left: 40px;
    /* width: 25%; */
}

.description-article {
    width: 50%;
    font-weight: 700;
    font-size: 45px;
}

.clr-1 {
    font-weight: 500;

    color: #727272;
}

.clr-2 {
    color: #FF900E;
}

.description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: start;
}


/* 2nd section style */


.section-2-details {
    margin-top: 130px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Features p {
    width: 586px;
    display: flex;
    flex-direction: column;
}

.section-2-heading {
    font-weight: 700;
    font-size: 45px;
    padding-right: 200px;
}

.dexktop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    padding-left: 20px;

}

.dextop-detail {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.dextop-detail h4 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.dextop-detail p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sec-heading p {
    color: #727272;
}

.lady-img {
    height: 950px;
}

.lady-img img {
    width: 100%;
    height: 100%;
}

.btn-1 {
    width: 200px;
    height: 100px;
    background: #FF900E;
    border-radius: 8px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 42px;
}

.btn-1 span {
    font-weight: 700;
    font-size: 35px;
}

/* >>>>>>>>>>>>section 3 style<<<<<<<<< */
.container-3 {
    margin: 111px 100px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
}

.fact-description {
    font-size: 16px;
    color: #727272;
}

/* Element style */

.elements {
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 20px;
    /* margin-top: 100px;  */
}

.facts-element{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
 .element h3 {
    color: #424242;
    font-weight: 600;
    font-size: 25px; 
}
.element p{
    font-weight: 600;
font-size: 16px;
line-height: 23px;
}

.elements:hover {
    border: none;
    background-color: rgba(0, 255, 255, 0.24);
    border-radius: 50%;
}

/* main last part style */
.container-4{
    margin: 0px 100px;
}

.our-spon{
    text-align: center;
}
.our-spon-title{
    font-weight: 700;
font-size: 45px;
color: #131313;
}

.our-spon-description{
    font-weight: 400;
font-size: 16px;
text-align: center;
color: #727272;
}

.companis{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}companis
/* .....footer style */
.container-5{
    margin: 170px 100px;
    background: #FFF4E7;
}

.f-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 0px 50px;

}
.btn-4{
    border: none;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px;
    margin:0 50%;

}
.lst-btn
{
    border: 2px solid blue;

}
button {
    margin: auto;
}

@media only screen and (max-width:688px) {



.menu{
   
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo{
    margin-left: 0px;
    margin-right: 20px;
}

.brand{
    font-size: 30px;
    
}
.container-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-top: 85px;
    /* width: 50%; */

}
.container-2 .images{
display: grid;
grid-template-columns: repeat(1,1fr);
}

.section-2-details {
    margin-top: 130px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 2p solid blue;
}

.facts-element{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin-top: 50px;
    
}
.companis{
    display: grid;
  grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    
}
.f-description{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1,1fr);
}
.menu-bar{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
}